* {
    font-family: 'Fredoka One', cursive;
    padding: 0;
    margin: 0;
    
    /* Fredoka One */

    /* special elite *** */
    /* londrina shadow */
    /* freckle face */
    /* bungee shade */
    /* fredericka the great */
    /* squada one */
    /* black ops one */
    /* audiowide */
    /* Righteous */
    /* balsamiq sans */
    /* rubik spray paint */
    /* rubik vinyl */
}

main {
    margin: 0 auto;
}

h1 {
    color: darkslategray;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.container {
    /* border: 2px solid blue; */
    margin: 0 auto;
    padding: 2px;
    min-width: 100px;
    max-width: 500px;
    width: auto;
}

/* .countdown-timer {
    margin: 0 auto;
    padding: 2px;
    border: 1px solid orangered;
} */

.main-timer {
    /* font-family: 'Big Shoulders Stencil Display', cursive; */
    border: 3px solid darkslategray;
    background-color: yellow;
    color: darkslategray;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    padding: 0 auto;
    font-size: 70px;
    font-weight: bold;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 70% 30%;
    width: auto;
    height: auto;
}

.ms-timer {
    width: 490%;
    font-size: small;
    text-align: right;
    
}

.controls {
    /* border: solid 1px burlywood; */
    height: auto;
    display: grid;
    grid-template-columns: 65% 35%;
    padding: 5px;
    margin: 0 auto;
}

.numpad {
    max-width: 300px;
    height: auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    font-weight: bold;
}

.numpad-button {
    border: 3px solid darkslategray;
    border-radius: 10px;
    background-color: lightgreen;
    /* background-color: #E1341E; */
    color: darkslategray;
    /* color: #A17A5E; */
    /* color: #1ECBE1; */
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.function-buttons {
    width: auto;
    padding: 5px;
    /* background-color: antiquewhite; */
    /* border: 1px solid red; */
}

.button {
    border: 3px solid darkslategray;
    border-radius: 10px;
    display: block;
    margin: 3px;
    background-color: yellow;
    font-size: 30px;
    text-align: center;
    color: darkslategray;
    /* width: fit-content; */
    /* min-width: 50px; */
    width: auto;
}

.control-buttons {
    /* border: 1px solid saddlebrown; */
    margin: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5px;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hide {
    display: none;
}

.control-buttons > .button {
    /* margin: 10px 10px 10px 20px;  */
    min-width: 20px;
    height: fit-content;
    padding: 10px;
    margin: 10px 20px 10px 20px;
}

#backBtn {
    /* background-color: aliceblue; */
    /* border: 1px solid; */
    font-size: 30px;
    width: 120px;
    padding: 1px;
    margin: 3px;
}

#clearBtn {
    background-color: aliceblue;
}
#clearBtn2 {
    background-color: lightsalmon;
}

#setBtn, #startBtn {
    color: darkslategray;
    background-color: lightgreen;
}

#pauseBtn {
    color: darkslategray;
    background-color: aliceblue;
}

#continueBtn {
    background-color: lightblue;
}

.blink-class {
    animation: blink 1s linear infinite;
}

@keyframes blink {
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 0.5;
    }
}